---
---
<footer>
    <p>© 2024 - Theta | Welcome back to the true king of mods! - <a href='/misc/credits'>Credits </a></p>
</footer>
<style>
    html{
        overflow: auto;
        scrollbar-width: none;
    }
    footer{
        color: aliceblue;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    a{
        color:#fab0c6
    }
</style>